<div id="<%= dom_id dentistum %>">
  <p>
    <strong>Nome:</strong>
    <%= dentistum.nome %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= dentistum.especialidade %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= dentistum.telefone %>
  </p>

</div>
